*{
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color: #e56038;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
.nav{
	margin-top: 5px;
	background-color: #ebe8de;
}
.nav h1{
	font-family:cursive;
	color: #e56038;
	font-size: 26px;
	padding: 20px 0px 0px 60px;
}
.nav p{
	padding: 0px 0px 0px 140px;
	font-size: 10px;
}
.nav ul{
	list-style-type: none;
	display: inline-flex;
	padding: 0px 0px 20px 400px;
}
.nav ul li{
	padding-right: 15px;
	color: gray;
	font-size: 15px;

}
.image{
	height: 300px;
}
.search{
	color: white;
	padding: 20px 0px 20px 40px;
	display: inline-flex;
}
.search p{
	padding-right: 50px;
	padding-top: 10px;
	font-size: 12px;
}
.search input{
	padding: 6px 14px;
	margin-right: 40px;
	border-radius: 8px;
}
.search input[value="search"]{
	background-color: black;
	color: white;
	border-style: none;
}
.container{
	padding: 30px 80px 0px 50px;
	background-color: #ebe8de;
	font-family: arial;
}
.middle{
	display: flex;
}
.middle .x{
	display: inline-flex;
}
.x ul li{
	line-height: 18px;
	margin-left: -20px;
}
.x ul{
	list-style-type: none;
	text-align: left;
	padding-right: 10px;
}
.x .material-icons{
	font-size: 40px;
}
.container p{
	font-size: 12px;
}
.container span{
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;

}
.container hr{
	border-bottom: 1px solid gray;
	width: 97%;
}
.img img{
	padding-right: 12px;
	height: 80px;
	width: 120px;
}
.img ul li{
	font-size: 12px;
}
.img ul{
	list-style-type: none;
}
.img{
	display: flex;
	padding-top: 15px;
	line-height: 12px;
}
.img p{
	border-bottom: 1px solid gray;
	font-size: 12px;
}
.final{
	padding: 30px 0px 0px 0px;
	display: flex;
	font-size: 14px;
	line-height: 20px;
}
.final ul{
	list-style-type: none;
}
.final ul li{
	display: inline-flex;
}
.final ul li i{
	font-size:54px;
	padding-right: 25px;
}
.climax{
	display: flex;
	padding: 30px 80px 0px 50px;
	background-color: #333;
}
.climax h3{
	color: white;
	font-size: 18px;
	border-bottom: 1px solid #444;
	padding-bottom: 14px;
}
.climax p{
	color: #ababab;
}
.y1{
	width: 40%;
	font-size: 12px;
	padding-right: 18px;
}
.y1 p{
	font-size: 12px;
	line-height: 20px;
}
.y2{
	width: 50%;
}
.y2 p{
	border-bottom: 1px solid #444;
	line-height: 40px;
	font-size: 12px;
}
.y2 p i{
	font-size:20px;
}
.y3 p{
	font-size: 12px;
}
.y3 h3{
	margin-left: 20px;
}
.y3 img{
	
	border-style: 2px solid #444;
	padding: 5px 5px 10px 10px;
	height: 60px;
	width: 100px;
}
.y3 picture{
	display: flex;
	margin-left: 15px;
}
footer{
	background-color: black;
	padding: 30px 0px 30px 30px;
	display: flex;
	color: #ababab;
}
footer i{
	float: right;
	font-size:20px;
	padding-right: 20px;
}
footer p{
	padding:0% 20% 0% 10%;  
	font-size: 12px;
}
}